
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh; /* Set height to 100% of viewport height */
}

.content-container {
  width: 80%;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  max-width: 1200px; /* Optional: set a maximum width */
  overflow: auto; /* Optional: add scrolling if content exceeds container */
}

  
  .content-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .content-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .content-container li {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .content-container li:hover {
    background-color: #f0f0f0;
  }
  
  .content-container .card {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .content-container .card:hover {
    background-color: #f0f0f0;
  }
  
  .content-container .card p {
    margin: 5px 0;
  }
  
  .content-container .card a {
    color: #1e90ff;
    text-decoration: none;
  }
  
  .content-container .card a:hover {
    text-decoration: underline;
  }
  