/* Styling for home-container */
.card-home-container {
  width: 100vw; /* full viewport width */
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Styling for content */
.card-content {
  max-width: 1200px;
  width: 100%;
  margin-top: 20px;
}

.card-content h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Styling for single-card-container */
.single-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;

}

/* Styling for single-card */
.single-card {
  flex: 1 0 calc(25% - 20px); /* Adjusted flex to widen each card */
  background-color: #fff;
  border: 1px solid #ddd;
  width:200px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  max-width: calc(25% - 20px); /* Adjusted max-width for responsiveness */
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.single-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  background-color: #f0f4f8;
  cursor: pointer;
}

.single-card:active {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.single-card i {
  font-size: 48px;
  margin-bottom: 10px;
  color: #4a90e2;
}

.single-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  font-family: 'Times New Roman', serif;
}

/* Gradient background for odd cards */
.single-card:nth-child(odd) {
  background: #3c97bf;
  background: -webkit-linear-gradient(to right, #3c97bf, #3c5dbf);
  background: linear-gradient(to right, #3c97bf, #3c5dbf);
}

/* Background color for even cards */
.single-card:nth-child(even) {
  background-color: #0466B9;
}

/* Glow effect for education card */
.single-card.education {
  text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #4a90e2,
    0 0 38px #4a90e2,
    0 0 73px #4a90e2,
    0 0 80px #4a90e2,
    0 0 94px #4a90e2,
    0 0 140px #4a90e2;
  animation: flicker 1.5s infinite alternate;
}
