/* Styling for .home-container */
.home-container {
  width: 100vw; /* full viewport width */
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.content {
  padding: 20px;
  width: 80%; /* Adjust content width */
  max-width: 1200px; /* Max width for content */
  margin: 0 auto; /* Center content horizontally */
  text-align: left; /* Align content text to the left */
}

.content h1 {
  margin-top: 0;
  font-size: 24px; /* Larger font size for headings */
}

