/* Unique class names */
.stu-ins-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust height as needed */
}

.stu-ins-content {
  width: 80%;
  max-width: 1200px; /* Adjust max-width as needed */
  display: flex;
  flex-direction: row; /* Display details and image side by side */
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
  padding: 20px;
  border: 1px solid #ccc; /* Example border */
  border-radius: 8px; /* Example border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
  margin-top: 20px;
}

.details {
  flex: 1; /* Take equal space */
  padding: 20px;
}

.image {
  flex: 1; /* Take equal space */
  padding: 20px;
  text-align: center; /* Center the image */
}

.image img {
  width: 100%; /* Take full width of the container */
  height: 100%; /* Take full height of the container */
  object-fit: cover; /* Scale the image to fit the container while maintaining aspect ratio */
  border-radius: 8px; /* Example border radius */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container button {
  border-radius: 20px;
    border: 1px solid #3c97bf; /* Updated border color */
    background-color: #3c97bf; /* Updated background color */
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.button-container button:hover {
  background: #3c97bf; /* Updated background gradient */
    background: -webkit-linear-gradient(to right, #3c97bf, #3c5dbf); /* Updated background gradient for WebKit */
    background: linear-gradient(to right, #3c97bf, #3c5dbf); /* Updated background gradient for other browsers */
  }