<<<<<<< HEAD
/* src/assets/NavigationBar.css */
.active {
  font-weight: bold;
  color: red; /* Change this to your desired active link color */
}

.navbar {
    background-color: #444;
    overflow: hidden;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar li a:hover {
    background-color: #ff6347; /* Tomato */
    color: white;
  }
  
  .navbar li a.active {
    background-color: #4caf50; /* Green */
    color: white;
    border-bottom: 3px solid #ffa500; /* Orange */
  }
  
  .navbar li a:active {
    background-color: #ffa500; /* Orange */
    color: white;
  }
  
  .navbar li a:focus {
    outline: none;
    border-bottom: 3px solid #ff6347; /* Tomato */
  }
=======
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

nav {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}

nav .active {
  font-weight: bold;
  color: blue;
}

.content {
  flex: 1; /* Take up remaining space */
  padding: 20px;
  overflow-y: auto;
}
>>>>>>> 4837aa0272e8b54b7e26e8b0ff85af56dd2c32ab
